<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="footer"> <!--Template Fragment-->
<body>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/js/app.js"></script> <!--ThmeLeaf 관련 JavaScript(Ajax 이용 목적)-->

    <footer  id="footer" >
        Powered by LSM
        <a href="https://github.com/OnCloudNine98/SpringJpa_Board_Project?tab=readme-ov-file" target="_blank" class="bi bi-github"></a>
        <i class="bi bi-reception-4"></i>
        <i class="bi bi-phone"> 010-8890-3843</i>
    </footer>


</body>


</html>