<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{layout/header :: header}"></div>

<div id="posts_list" class="col-md-12">
    <form class="card">
        <div class="card-header d-flex justify-content-between">
            <label th:for="id">번호 : [[${posts.id}]] </label>
            <input type="hidden" id="id" th:value="${posts.id}"> <!-- label 연결 -->
            <label th:for="createDate">[[${posts.createDate}]]</label>
        </div>
        <div class="card-header d-flex justify-content-between">
            <label th:for="writer">작성자 : [[${posts.writer}]] </label>
            <label th:for="view"><i class=" bi bi-eye-fill"> [[${posts.view}]]</i></label>
        </div>
        <div class="card-body">
            <label th:for="title">제목</label>
            <input type="text" class="form-control" id="title" th:value="${posts.title}">
        </div>

        <div class="card-body">
            <label th:for="content">내용</label>
            <textarea rows="5" class="form-control" id="content" th:text="${posts.content}"></textarea>
        </div>
    </form>

    <!-- 버튼 -->
    <a th:href="@{/posts/read/{id}(id=${posts.id})}" role="button" class="btn btn-info bi bi-arrow-return-left"> 취소</a>
    <button type="button" id="btn-update" class="btn btn-primary bi bi-pencil-square"> 완료</button>
</div>

<!-- 푸터 포함 -->
<div th:replace="~{layout/footer :: footer}"></div>
</html>
