<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{layout/header :: header}"></div>



<div id="posts_list">
    <table id="table" class="table table-horizontal">
        <thead id="thead">
        <tr>
            <th>번호</th>
            <th class="col-md-6 text-center">제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>조회수</th>
        </tr>
        </thead>
        <tbody id="tbody">
        <tr th:each="post : ${posts}">
            <td th:text="${post.id}"></td>
            <td><a th:href="@{/posts/read/{id}(id=${post.id})}" th:text="${post.title}"></a></td>
            <td th:text="${post.writer}"></td>
            <td th:text="${post.createdDate}"></td>
            <td th:text="${post.view}"></td>
        </tr>
        </tbody>
    </table>
    <div class="text-right">
        <a href="/posts/write" role="button" class="btn btn-primary bi bi-pencil-fill"> 글쓰기</a>
    </div>
    <!-- Page -->
    <div th:replace="~{posts/posts-page :: posts-page}"></div>
</div>

<div th:replace="~{layout/footer :: footer}"></div>
</body>
</html>
